.Join {
  grid-area: join;
}

.title {
  grid-area: title;
}
.username {
  grid-area: username;
  justify-self: flex-end;
}
.usernameField {
  grid-area: usernameField;
  justify-self: flex-start;
}
.room {
  grid-area: room;
  justify-self: flex-end;
}
.roomField {
  grid-area: roomField;
  justify-self: flex-start;
}

.submit {
  grid-area: submit;
  width: 20%;
}
