.Chat {
  grid-area: chat;
}

.chatHeader {
  font-size: 24px;
}

.chatBody {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.scrollToBottom {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.messages {
  display: flex;
  flex-direction: column;
}
